*{padding:1px}
body{font-size:16px;background-color:#00b82e}
h1,h2,h3,h4,h5,h6{font-family:'Roboto',sans-serif}
header{background-color:#fff;display:flex;flex-flow:row;box-shadow:0 0 30px #777;justify-content:center}
.logo,.headings{vertical-align:middle;margin:10px}
h2{text-align:center;font-size:32px}
h3{margin:5px}
.logo{width:75px;height:auto}
nav{background-color:#0004ff}
.navigation{text-align:center;display:flex;flex-direction:column}
.navigation li:first-child{display:block}
.navigation li{display:none}
.navigation a{display:block;color:#fff;padding:1px;text-align:center;text-decoration:none}
.navigation a:hover{color:#000;background-color:#fff;font-weight:700}
.responsive li{display:block}
nav ul{list-style-type:none;padding:0}
a:hover{background-color:#ef0;color:#fdfdfd;border-bottom:1px solid #fff}
.active{background:#000;color:#fff}
.motto{font-size:18px;color:#013a0f;font-style:italic}
.forecast table{margin:auto;text-align:center}
main,footer,aside{max-width:960px;margin:10px auto}
main-article{background-color:#eee;border:1px solid #bbb}
.main-article img{width:100%}
.map img{width:100%;height:auto}
aside{display:block;clear:both}
.herodiv{position:relative;width:100%;height:auto}
.acc{margin:6px;color:#0004ff}
.contactinfo{clear:both;text-align:center}
.weathersummary{border:1px solid #000;background-color:#15ff00;position:absolute;top:20px;left:20px;box-shadow:0 0 50px #fff;opacity:.7;padding:10px;color:#0004ff}
p{margin:6px}
footer{background-color:#00b4b8;padding:10px}
a{color:#000}
.towndata{display:grid;grid-template-columns:1fr}
.towninfo{margin:15px;box-shadow:0 0 0 5px #0004ff;text-align:center}
.townp{font-size:1.2em}
.townp1{font-size:1.3em;font-style:italic;color:#000;padding:10px;text-align:center}
.townh3{font-size:1.5em;color:#000;text-align:center}
grid{display:grid;grid-template-columns:1fr}
.articlepicture{float:right;width:40%;height:auto;margin:2em 4em}
.author{margin:6px;}
.gallery{margin-bottom:2em;display:grid;grid-template-columns:1fr}
.gallery p{display:none}
.gallery img{box-shadow:none}
.stormForm,.thanks{width:350px;padding:30px;margin:30px;background:#FFF;border-radius:25px 25px 25px 25px}
.stormForm h1,.thanks h1{background:#0004ff;padding:20px 30px 15px;margin:-30px -30px 30px;border-radius:10px 10px 0 0;color:#fff}
.stormForm input[type="text"],.stormForm input[type="date"],.stormForm input[type="email"],.stormForm input[type="number"],.stormForm input[type="tel"],.stormForm select{display:block;box-sizing:border-box;width:80%;padding:8px;border-radius:6px;border:2px solid #fff}
.stormForm textarea{display:block;box-sizing:border-box;padding:8px;border-radius:6px;border:2px solid #fff;margin-left:15px;width:20rem;height:10rem}
.stormForm .section{font:normal 20px Georgia,serif;color:#000;margin-bottom:5px}
.stormForm input[type="button"],.stormForm input[type="submit"]{background:#2A88AD;padding:10px 20px;border-radius:5px;color:#fff;font-size:18px}