/* medium and up views */
@media (min-width: 32.5em) {
	.navigation li:first-child { display: none;	}
	.navigation li { display: block; flex: 1 1 auto; }
	.navigation, .container { flex-direction: row; }
}