@media only screen and (min-width:48em) {

    .logo {
        width: 150px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .headertext {
        margin-left: 4rem;
    }


    .navigation {
        font-size: 22px;
    }

    .navigation li {
        margin-right: 1rem;
    }

    .navigation li a {
        color: yellow;
    }

    .towndata {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.forecast {
    display: block;
    text-align: center;
}


.forecast-image th,
td {
    padding: 15px;
    border: 1px solid #000;

}

.main-article img {
    float: right;
    margin: 10px;
    width: 300px;
    height: auto;
}

footer {
    text-align: center;
    font-size: 20px;
}

/*Town events*/
.prestonevents,
.sodaspringsevents,
.fishhavenevents {
    max-width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    background-color: #00b4b8;
    box-shadow: 0 0 50px #ffffff;
    line-height: 2;
    padding: 2%;

}

.eventsli {
    font-size: 1rem;
    font-weight: bold;

}

.prestonevents,
.sodaspringsevents,
.fishhavenevents h3 {
    border-bottom: 1px solid #000000;
    text-align: center;
}


/*------------------Gallery---------------*/
@media only screen and (min-width: 48em) {
    .gallery {

        margin-bottom: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        text-align: center;
        font-size: 18px;
        color: #0f0277
    }

    .gallery p {
        display: inline;

    }

    .gallery img:hover {
        box-shadow: 0 0 50px #1900fd;
    }

    .gallery img:active {
        transition: transform .5s ease;
        transform: scale(1.7);
    }
}